
bod > div {
    width: 100%;
    display: inline-grid;
}
table {
    width: 100%;
    display: block;
    border-collapse: collapse;
}
thead, tbody, tr, td {
    display: block;
}
.table {
    display: table;
    border: 1px solid red;
    width: 100%;
    margin-top: 25px;
    border-spacing: 3px;/*boşluk vermek için*/
    border-collapse: collapse;/*tabloda ayrı ayrı göstermek için kullanılır*/
}
.thead {
    display: table-header-group;
}
.tbody {
    display: table-row-group;
}
.tr {
    display: table-row;
}
.td {
    display: table-cell;
    border: 1px solid red;
}