ul li:hover {
    background-color: green;
}
a:hover {
    background-color: red;
}
div:hover {
    background-color: blue;
}
button:hover {
    background-color: pink;
}
div span:hover {
    background-color: yellow;
}
/*imleç üzerine gelince görünen renk için hover kullanılır*/