html, body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


nav {
    background-color: blue;
}


nav a 
{
    line-height: 50px;
    display: inline-block;
    text-decoration: none;
    padding: 0 20px;
    color: #fff;

}